@media screen and (min-width: 1350px) {
	.slider {
      &__text-title  {
         font-size: 48px;
      }
      &__text-subtitle {
         font-size: 32px;
      }
   }
   .section-title {
      &__title {
         font-size: 36px;
      }
   }
   .block {
      &__title {
         font-size: 28px;
      }
   }
}
@media screen and (max-width: 1240px) {
	.contact {
      margin-right: 25px;
         &__contact-item:nth-child(2) {
            margin-right: 0;
         }
         &__contact-item:nth-child(3) {
            display: none;
         }
   }
   .nav {
      &__item {
         margin-left: 25px;
      }
      &__link-span {
         display: none;
      }
   }
}
@media screen and (max-width: 1140px) {
   .grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .grid-catalog {
      grid-template-columns: repeat(2, 1fr);
   }
   .product-info {
      margin-left: 0;
   }
   .product-info-sale {
      margin-top: 30px;
      flex-direction: column;
   }
}
@media screen and (min-width: 991px) {
	//====search menu delete
	.search-menu .signin {
      display: none;
         &::after {
            display: none;
            opacity: 0;
         }
         &__content {
            display: none;
         }
      }
	.mobile-menu.popup-wrapper {
		display: none;
	}
}
@media screen and (max-width: 991px) {
   .header-bottom__content {
      display: none;
   }
	.contact {
      margin-right: 15px;
      &__contact-item {
         margin-right: 10px;
      }
   }
   .icons {
      margin-right: 15px;
      &__item {
         margin-left: 10px;
      }
   }
   .card-content {
      &__sale-icons-img {
         width: 48px;
         height: 48px;
      }
   }
	//====header navigation add responsive
   .nav {
      margin-left: 0;
      width: 100%;

      &__list {
         display: block;
      }
      &__item {
         padding: 15px 0;
         margin-left: 0;
         border-bottom: 1px solid #C8CACB;
      }
      &__link {
         color: #070c11;
      }
   }
   .navigation-menu {
		width: auto;

      &__item {
         padding: 8px 0px;
      }
   }
   .search {
      display: none;
   }
	.slider {
      margin: 0;
   }
	//Bottom panel for mobile device
	.panel {
      display: flex;
      width: 100%;
      height: 65px;
      background-color: #2a5275;
      z-index: 300;
      opacity: 1;
      visibility: visible;
   }
	.catalog-content {
      overflow: auto;
   }
	.popup-wrapper {

		&__container {
			align-items: flex-end;
			min-height: 100%;
			margin: 20px;
		}
	}
   .mobile-menu .popup {
		height: 100%;
		position: fixed;

      &__body {
         height: 100%;
			border: 1px solid skyblue;
      }

      &__content {
         max-width: 100%;
         height: 100%;
         background: #EDF2F6;
         border-radius: 8px 8px 0px 0px;
         overflow: hidden;
         padding: 50px 50px 150px 50px ;
			overflow: auto;
      }

		&__content-body {
			padding: 0;
		}

      &__header {
         padding: 0px 0px 50px 0px;
      }

      &__header-content {
         width: 100%;
			height: 100%;
         padding: 0;
         display: flex;
         justify-content: space-between;
         background-color: #edf2f6;
         border-radius: 8px 8px 0px 0px;
      }

      &__header-title {
         font-style: normal;
         font-weight: 700;
         font-size: 28px;
         line-height: 130%;
         color: #070C11;
      }
   }
   .mobile-menu .search {

      &__form {
         border: 1px solid #4878a6;
         overflow: hidden;
         border-radius: 4px;
         width: 100%;
      }
      &__content {
         width: 100%;
      }
      &__input {
         padding: 15px 20px;
         min-width: 100%;
         margin-left: 0;
      }
   }
   .nav-menu {
      grid-template-columns: 1fr 1fr;
      &__item {
         max-width: 300px;
      }
   }
	.block {
		flex-direction: column;
		align-items: center;
		&__item {
			margin-top: 20px;
			margin-left: 0;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.news-block {
		flex-direction: column;

		&__item {
			width: 100%;
		}

	}
	.footer {
		margin-bottom: 65px;
	}
	.footer-content {

		&__column {
			width: 50%;
			padding-right: 0;
			margin-bottom: 30px;
		}
	}	
   .footer-bottom {
      margin-bottom: 65px;

      &__text {
         width: 100%;
         max-width: 350px;
      }
      &__social-content {
         justify-content: flex-start;
         margin-bottom: 0;
         margin-bottom: 30px;
      }

      &__text-content {
         flex-direction: column;
      }
      &__text {
         margin-bottom: 10px;
      }
   }
   //======Page About
   .no-index {
      display: block;
   }
   //====page catalog
   .page-catalog-content {
      flex-direction: column;
   }
   .grid-catalog {
      grid-template-columns: repeat(3, 1fr);
   }
   .catalog-body {
      width: 100%;
      margin-left: 0;
   }
   //====aside Каталог товаров боковая панель
   //====button Фильтры
   .filter-button {
      display: flex;
   }
   .aside-content-block {
      display: none;
   }
   .filters-result {
      &__blocks {
         display: none;
      }
   }
   .grid-item {
      font-size: 12px;
   }
}
@media screen and (max-width: 880px) {
   .grid-catalog {
      grid-template-columns: repeat(2, 1fr);
   }
   .grid-item {
      font-size: 10px;
   }
}
@media screen and (max-width: 768px) {
	.contact {
      display: none;
   }
   .icons {
      &__item:last-child {
         display: none;
      }
   }
	.slider {
      &__text-title  {
         font-size: calc(20px + (28 + 28 * 0.7) * ((100vw - 320px) / 1340));
         }
      &__text-subtitle {
         font-size: calc(16px + (16 + 16 * 0.7) * ((100vw - 320px) / 1340));
      }
      &__content {
         &:after {
            display: none;
         }
      }
      &__text-content {
         max-width: 250px;
      }
   }
   .section-title {
      &__title {
         font-size: calc(24px + (12 + 12 * 0.7) * ((100vw - 320px) / 1340));
      }
   }
	.footer .contact {
		display: block;
	}
   .grid-guarantee {
      margin-bottom: 40px;
   }
   //====simplebar settings
   .simplebar-track.simplebar-horizontal {
      margin-top: 20px;
      bottom: -20px;
      height: 8px;
      width: 100%;
      border-radius: 4px;
      background-color: var(--light-blue);
      opacity: 1;
      visibility: visible;
   }
   .simplebar-scrollbar {
      background-color: var(--blue);
      height: 8px;
      border-radius: 4px;
   }
   .simplebar-scrollbar:before {
      background-color: var(--blue);
   }
   .card-content {
      &__sale {
         flex-direction: column;
         align-items: flex-start;
      }
   }
   .tabs-header {
      margin: 0 -45px;
   }
}
@media screen and (max-width: 550px) {
	.logo {
      max-width: 130px;
      &__link {
         width: 100%;
         max-width: 130px;
      }
      &__text {
         font-size: 8px;
      }
   }
   .icons {
      display: none;
   }
	.mobile-menu .popup {
		&__content {
			padding: 50px 20px 150px 20px ;
		}
	}
	.row {
      justify-content: space-between;
   }
   .grid {
      grid-template-columns: repeat(1, 1fr);
   }
   .card {
      width: 100%;
   }
	.block {
		&__item {
			padding: 10px;
		}
	}
	.footer-content {
		&__column {
			width: 100%;
		}
	}
   .news-block {

      &__item-content {
         flex-direction: column;
         padding: 20px;
      }

      &__item-img {
         max-width: 320px;
         margin: 0 auto 20px;
      }
   }
   .grid-catalog {
      grid-template-columns: repeat(1, 1fr);
   }
   .filters-result__body {
      flex-direction: column;
   }
   .filter-button {
      width: 100%;
   }
   .secect-content {
      margin-top: 20px;
      max-width: 100%;
   }
   .paragraph-title {
      font-size: 24px;
   }
   .page-title {
      margin-bottom: 20px;
   }
   .bottom-title-page {
      font-size: 20px;
   }
   .basic-product-slider {
      height: 260px;
   }
   .product .swiper-button-next, 
   .product .swiper-button-prev {
      display: none;
   }
   .product-info-sale {
      padding: 20px;
      &__info {
         flex-direction: column;
      }
   }
   .product .card-content__buy {
      flex-direction: column;
      height: auto;
   }
   .product .light-button {
      margin-left: 0;
      margin-top: 10px;
   }
   .product-button {
      max-width: 100%;
   }
   .product-info-delivery {
      flex-direction: column;
      &__item {
         margin-left: 0;
         margin-top: 25px;
         &:first-child {
            margin-top: 0;
         }
      }
   }
   .characteristic-body {
      &__item {
         flex-direction: column;
      }
      &__item-title {
         margin-bottom: 20px;
      }
      &__item-value {
         max-width: 100%;
      }
   }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 320px) {
   .section-title__title {
      font-size: 24px;
   }
}